<div class="container text-center my-3">
    <div class="jumbotron" style="background-color: salmon;color: white;">
        <h1>ERROR</h1>
        <p>{{err}}</p>
        <button class="btn btn-warning my-5" onclick="volver()">VOLVER</button>
    </div>
</div>

<script>
    function redireccionar(pagina) {
        location.href = pagina;
    } 
    function volver() {
        setTimeout(()=>{
            redireccionar('/')
        }, 1500)
    }
</script>